html, body {
    margin:0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {  
   display: flex;
}
.boxes {
   border: .1px solid;
   width: 99px;
   height: 99px;
   text-align: center;
   font-size: 30px;
}
#box1 { background-color: green; }
#box2 { background-color: yellow; }
#box3 { background-color: pink; }
#box4 { background-color: blue; }
#box5 { background-color: red; }
#box6 { background-color: orange; }
#box7 { background-color:beige; }
#box8 { background-color: lightgrey; }







